<html>
<head>
<title>Bismillah</title>
<link rel="stylesheet" href="w3.css">
<meta charset="utf-8">
<meta content="width=device-width,initial-scale=1,minimal-ui" name="viewport">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../../../fontawesome-free-5.12.0-web/css/all.css">
</head>
 
<body>
<div id="utama">

	<!--Navbar-->
	<div id="navbar" class="w3-center w3-teal w3-card-4 w3-top">
		<!--Tombol navigasi bar-->
		<span class="w3-bar">
			<button
			v-for="tab in tabs"
			v-bind:key="tab"
			v-on:click="currentTab = tab"
			v-bind:class="['w3-bar-item', 'w3-button', 'w3-hover-light-grey', 'w3-padding', currentTab == tab ? 'w3-white' : '']"
			>
        	{{ tab }}
			</button>
		</span>
	</div>
	<br><br><br>

	<!--Arena utama-->
	<div 
	v-bind:is="currentTabComponent" 
	:datanya="deData[currentTab.toLowerCase()]" 
	:icon="icon"
	:bagian="deData.bagian"
	:level="deData.level"
	:divisi="deData.divisi"
	:karyawan="deData.karyawan"
	@modal="modalChange($event)"
	class="w3-center w3-display-container w3-container w3-row w3-margin"
	>
		<h1>Alhamdulillah!</h1>
	</div>

	<!--Modal-->
	<div v-if="modal" style="display: block" class="w3-modal">
		<div class="w3-modal-content">
		  <header class="w3-container w3-teal"> 
			<span @click="modalChange('')"
			class="w3-xlarge w3-button w3-display-topright">
			&times;
			</span>
			<h2 class='w3-center'>{{currentTab}}</h2>
		  </header>
		  <div 
		  class="w3-container w3-padding w3-center margin-top" 
		  style="min-height: 300px;"
		  v-bind:is="currentForm"
		  :datanya="datanyaForm"
		  :bagian="deData.bagian"
		  :level="deData.level"
		  :divisi="deData.divisi"
		  :karyawan="deData.karyawan"
		  @tambah="tambah($event)"
		  @update="update($event)"
		  >
		  <!--Panggil form component-->
		  <!--form-content 
			v-bind:is="currentForm"
			:input="form[currentTab.toLowerCase()]"
			:edit="akanEdit"
			:karyawan="deData.karyawan"
			@tambah="tambah($event)"
			@modal="modalChange()"
			@update="update($event)"
			  >
			  </form-content-->
		  </div>
		</div>
	</div>

</div>

<script type="text/javascript" src="vue.js"></script>
<script type="text/javascript" src="localbase.dev.js"></script>
<script type="text/javascript" src="comp_Small.js"></script>
<!-- <script type="text/javascript" src="DummyBackEnd.js"></script> -->
<script type="text/javascript" src="comp_Divisi.js"></script>
<script type="text/javascript" src="comp_Bagian.js"></script>
<script type="text/javascript" src="comp_Level.js"></script>
<script type="text/javascript" src="comp_Absen.js"></script>
<script type="text/javascript" src="comp_Karyawan.js"></script>
<script type="text/javascript" src="datatable.js"></script>
<script type="text/javascript" src="componen.js"></script>
<script type="text/javascript" src="script2.js"></script>
<script>
	// window.addEventListener('resize', function(event) {
    // console.log(window.innerWidth)
	// }, true);

let lastScrollTop = 0,
navbar = document.getElementById('navbar');

window.addEventListener("scroll", function() {
	var scrollTop = window.pageYOffset || document.documentElement.scrollTop;
	if (scrollTop > lastScrollTop) {
		navbar.style.top = "-80px";
	} else {
		navbar.style.top= "0";
	}
	lastScrollTop = scrollTop;

});

</script>
</body>
 
</html>